@model EmployeeManager.Application.ViewModels.EmployeeVm;
@{
    ViewData["Title"] = "Employee Manager";

    var dateOfBirdthString = Model.DateOfBirdth.Year + "-" + Model.DateOfBirdth.Month + "-" + Model.DateOfBirdth.Day;
    if (Model.DateOfBirdth.Month < 10 && Model.DateOfBirdth.Day < 10) dateOfBirdthString = Model.DateOfBirdth.Year + "-0" + Model.DateOfBirdth.Month + "-0" + Model.DateOfBirdth.Day;
    if (Model.DateOfBirdth.Month < 10 && Model.DateOfBirdth.Day > 10) dateOfBirdthString = Model.DateOfBirdth.Year + "-0" + Model.DateOfBirdth.Month + "-" + Model.DateOfBirdth.Day;
    if (Model.DateOfBirdth.Day < 10 && Model.DateOfBirdth.Month > 10) dateOfBirdthString = Model.DateOfBirdth.Year + "-" + Model.DateOfBirdth.Month + "-0" + Model.DateOfBirdth.Day;
}

<h1 class="h1 p-5">Edit Employee form</h1>

<form class="w-100" asp-action="EditEmployee" asp-route-id="@Model.Id" asp-route-contactId="@Model.Contact.Id" asp-route-addressId="@Model.Addresses[0].Id">

    <table class="table">

        <tr>
            <th><label asp-for="Name">Name: </label></th>
            <th><input class="form-control" type="text" asp-for="Name" value="@Model.Name"></th>
        </tr>

        <tr>
            <th><label asp-for="Surname">Surname: </label></th>
            <td><input class="form-control" type="text" asp-for="Surname" value="@Model.Surname" /></td>
        </tr>
        <tr>
            <th><label asp-for="DateOfBirdth">Date of birdth: </label></th>
            <td><input class="form-control" type="date" asp-for="DateOfBirdth" value="@dateOfBirdthString" /></td>
        </tr>
        <tr>
            <th><label asp-for="Education">Education: </label></th>
            <td><input class="form-control" type="text" asp-for="Education" value="@Model.Education" /></td>
        </tr>
        <tr>
            <th> <label asp-for="Profession">Profession: </label></th>
            <td><input class="form-control" type="text" asp-for="Profession" value="@Model.Profession" /></td>
        </tr>
        <tr>
            <th><label asp-for="Position">Position: </label></th>
            <td> <input class="form-control" type="text" asp-for="Position" value="@Model.Position" /></td>
        </tr>
        <tr>
            <th><label asp-for="Contact.Email">Email: </label></th>
            <td> <input class="form-control" type="text" asp-for="Contact.Email" value="@Model.Contact.Email" /></td>
        </tr>
        <tr>
            <th><label asp-for="Contact.TelephoneNumber">Telephone number: </label></th>
            <td><input class="form-control" type="number" asp-for="Contact.TelephoneNumber" value="@Model.Contact.TelephoneNumber" /></td>
        </tr>
        @for (var i = 0; i < Model.Addresses.Count; i++)
        {
            <tr>
                <th><label asp-for="Addresses[i].City">City: </label></th>
                <td><input class="form-control" type="text" asp-for="Addresses[i].City" value="@Model.Addresses[i].City" /></td>
            </tr>
            <tr>
                <th><label asp-for="Addresses[i].Street">Street: </label></th>
                <td><input class="form-control" type="text" asp-for="Addresses[i].Street" value="@Model.Addresses[i].Street" /></td>
            </tr>
            <tr>
                <th><label asp-for="Addresses[i].HouseNumber">House number: </label></th>
                <td><input class="form-control" type="text" asp-for="Addresses[i].HouseNumber" value="@Model.Addresses[i].HouseNumber" /></td>
            </tr>
            <tr>
                <th><label asp-for="Addresses[i].PostalCode">Postal code: </label></th>
                <td><input class="form-control" type="text" asp-for="Addresses[i].PostalCode" value="@Model.Addresses[i].PostalCode" /></td>
            </tr>
        }

        <tr>
            <th></th>
            <td>
                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-action="Index" class="btn btn-secondary ml-2">Cancel</a>
            </td>
        </tr>

    </table>
</form>


